@import "tailwindcss";
@config "../../tailwind.config.mjs";
@import "./animations.css";

@theme {
    --font-sans: 'Gabarito', system-ui, sans-serif;
    --font-serif: 'Instrument Serif', serif;
    --default-font-family: 'Gabarito', system-ui, sans-serif;
}

html, body {
    font-family: 'Gabarito', system-ui, sans-serif;
}